html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
 
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.15' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


.quote-container {
  width: auto;
  max-width: 900px;
  margin: 3rem;
  padding: 20px 30px;

  border-radius: 10px;
  background-color: rgba(255, 255, 255, .4);
  box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, .2);
}


.quote-text {
  font-weight: 600;
  font-size: 2.75rem;
}

.long-quote {
  display: inline-block;
  font-size: 2rem;
  line-height: 1.4;
}

.fa-quote-left {
  font-size: 4rem;
}

.quote-author {
  margin-top: 1rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: 300;
}


.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

button {
  padding: .2rem 1rem;
  cursor: pointer;
  font-size: 1.8rem;
  line-height: 1;
  border: 0;
  background: darkgrey;
  color: #000;
  border-radius: 1rem;
  box-shadow: 0 .3rem rgba(121, 121, 121, .65);
}


button:focus {
  outline: 0;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translate(0, .3rem);
  box-shadow: 0 .1rem rgba(121, 121, 121, .65);
}


.twitter-button:hover {
  color: #38a1f3;
}




/* Loader */
.loader {
  border: 8px solid transparent; /* Light grey */
  border-top: 8px solid darkgrey; /* Blue */
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
  }

  .quote-text {
    font-size: 2.5rem;
  }
}